<mat-stepper orientation="vertical" [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select your Name</ng-template>
        <app-search-name class="input-field" (selectedName)="onNameSelected($event)"></app-search-name>
        <div class="flex justify-end mt-4">
            <button mat-button matStepperNext>Next</button>
        </div>
        </form>
    </mat-step>

    <mat-step label="RSVP to Events">
        <app-event-rsvp [selectedInvitee]="selectedInvitee" (formValidityChange)="onFormValidityChange($event)">
    </app-event-rsvp>
        <div class="step-actions flex flex-wrap justify-between mt-4 gap-2">
            <div class="flex gap-2">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
            <button mat-button matStepperNext [disabled]="!isFormsValid" (click)="onSubmit()">Submit</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Submitted</ng-template>
        <div class=" mt-4">
            <img src="engagment1.png" alt="engagment image" class="w-[330px] rounded-xl">
        </div>
        <h2 class="text-3xl mt-2 mb-2 font-cursive font-medium">Thank you for filling out the RSVP. We can't wait to celebrate with you!!</h2>
        <p class="font-cursive font-medium text-2xl underline">No boxed gifts, please. Monetary gifts welcome.</p>
    </mat-step>
</mat-stepper>