<div *ngIf="selectedInvitee" class="event-container">
    <h2 class="text-lg">Hello, {{selectedInvitee.Name}}!</h2>
    <p class="mt-4">Please RSVP to the following events:</p>
    
    <!-- Mehndi Form -->
    <div *ngIf="selectedInvitee.IsInvitedMehndi" class="event-form bg-gray-50 p-3 rounded-md my-4">
      <h3 class="font-medium mt-2 text-lg text-off-brown underline">Mehndi</h3>
      <p class="text-sm md:text-base">Wednesday, August 27th, 2025 | Starts at 5:00 PM</p>
      <p class="text-sm md:text-base mb-3">Location: 3 Cyprus Glen, East Gwillimbury, ON</p>
      
      <form [formGroup]="mehndiForm">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Will you be attend?</mat-label>
          <mat-select formControlName="attending" required>
            <mat-option [value]="true">Yes, I will attend</mat-option>
            <mat-option [value]="false">No, I cannot attend</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field *ngIf="mehndiForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Number of Guests (including yourself)</mat-label>
          <input matInput type="number" formControlName="numberOfGuests" min="1" max="10">
        </mat-form-field>
        
        <mat-form-field *ngIf="mehndiForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Names of Those Attending (including yourself)</mat-label>
          <textarea matInput formControlName="guestsNames"></textarea>
        </mat-form-field>
      </form>
    </div>
    
    <!-- Grah Shanti Form -->
    <div *ngIf="selectedInvitee.IsInvitedGrahShanti" class="event-form bg-gray-50 p-3 rounded-md my-4">
      <h3 class="font-medium mt-2 text-lg text-off-brown underline">Pithi</h3>
      <p class="text-sm md:text-base">Thursday, August 28th, 2025 | Starts at 4:00 PM</p>
      <p class="text-sm md:text-base mb-3">Location: 3 Cyprus Glen, East Gwillimbury, ON</p>
      
      <form [formGroup]="grahShantiForm">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Will you be attend?</mat-label>
          <mat-select formControlName="attending" required>
            <mat-option [value]="true">Yes, I will attend</mat-option>
            <mat-option [value]="false">No, I cannot attend</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field *ngIf="grahShantiForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Number of Guests (including yourself)</mat-label>
          <input matInput type="number" formControlName="numberOfGuests" min="1" max="10">
        </mat-form-field>

        <mat-form-field *ngIf="grahShantiForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Names of Those Attending (including yourself)</mat-label>
          <textarea matInput formControlName="guestsNames"></textarea>
        </mat-form-field>        
      </form>
    </div>
    
    <!-- Ceremony Form -->
    <div *ngIf="selectedInvitee.IsInvitedCeremony" class="event-form bg-gray-50 p-3 rounded-md my-4">
      <h3 class="font-medium mt-2 text-lg text-off-brown underline">Wedding Ceremony</h3>
      <p class="text-sm md:text-base">Friday, August 29th, 2025 | Starts at 9:30 AM</p>
      <p class="text-sm md:text-base mb-3">Location: BAPS Shri Swaminarayan Mandir - 61 Claireville Dr, Toronto</p>
      
      <form [formGroup]="ceremonyForm">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Will you be attend?</mat-label>
          <mat-select formControlName="attending" required>
            <mat-option [value]="true">Yes, I will attend</mat-option>
            <mat-option [value]="false">No, I cannot attend</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field *ngIf="ceremonyForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Number of Guests (including yourself)</mat-label>
          <input matInput type="number" formControlName="numberOfGuests" min="1" max="10">
        </mat-form-field>
        
        <mat-form-field *ngIf="ceremonyForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Names of Those Attending (including yourself)</mat-label>
          <textarea matInput formControlName="guestsNames"></textarea>
        </mat-form-field>
        
        <mat-form-field *ngIf="ceremonyForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Dietary Restrictions</mat-label>
          <textarea matInput formControlName="dietaryRestrictions" placeholder="Vegetarian, vegan, allergies, etc."></textarea>
        </mat-form-field>
      </form>
    </div>
    
    <!-- Reception Form -->
    <div *ngIf="selectedInvitee.IsInvitedReception" class="event-form bg-gray-50 p-3 rounded-md my-4">
      <h3 class="font-medium mt-2 text-lg text-off-brown underline">Reception</h3>
      <p class="text-sm md:text-base">Friday, August 29th, 2025 | Starts at 6:00 PM</p>
      <p class="text-sm md:text-base mb-3">Location: The Eglinton Grand - 400 Eglinton Ave W, Toronto</p>
      
      <form [formGroup]="receptionForm">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Will you be attend?</mat-label>
          <mat-select formControlName="attending" required>
            <mat-option [value]="true">Yes, I will attend</mat-option>
            <mat-option [value]="false">No, I cannot attend</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field *ngIf="receptionForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Number of Guests (including yourself)</mat-label>
          <input matInput type="number" formControlName="numberOfGuests" min="1" max="10">
        </mat-form-field>
        
        <mat-form-field *ngIf="receptionForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Names of Those Attending (including yourself)</mat-label>
          <textarea matInput formControlName="guestsNames"></textarea>
        </mat-form-field>
        
        <mat-form-field *ngIf="receptionForm.get('attending')?.value === true" appearance="fill" class="w-full">
          <mat-label>Dietary Restrictions</mat-label>
          <textarea matInput formControlName="dietaryRestrictions" placeholder="Vegetarian, vegan, allergies, etc."></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>
  
  <div *ngIf="!selectedInvitee" class="no-invitee p-4 text-center">
    <p>Please select your name from the previous step.</p>
  </div>