@import "tailwindcss";

@theme {
    --color-off-green: #255b42;
    --color-off-brown: #c69971;
    --color-off-white: #e8eae9;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
