@import "tailwindcss";

@theme {
    --color-off-green: #255b42;
    --color-off-brown: #c69971;
    --color-off-white: #e8eae9;

    --font-cursive: "Italianno", "cursive";
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}

body::before {
    content: "";
    background-image: url('/engagment1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .mat-form-field {
        width: 100%;
    }
    
    .mat-step-header {
        padding: 16px 12px !important;
    }
}

@media screen and (max-width: 480px) {
    .mat-stepper-vertical {
        margin-top: 1rem;
    }
    
    .event-form {
        padding: 0.5rem;
    }
    
    .mat-form-field {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    button.mat-button {
        min-width: auto;
        padding: 0 8px;
        margin: 0 4px;
    }
}
